
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
 
  background-color: rgb(249, 249, 249);
  /* display: grid;
  grid-template-columns: 14rem 1fr; */
}

.test-color{
  color: rgb(244, 244, 244);
}