body {
  margin: 0;
  padding: 0;
  font-family: 'Antic Slab', serif;
  font-family: 'Darker Grotesque', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Caveat', cursive;

}
